

.headerMenu{
    width: 95%;
    height: 50px;
    align-self: center;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    margin: 0 auto;
}
#Logo{
    width: 150px;
    height: 75px;
}
body{
    background-image: url('../img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    margin-left: auto;
    background-color: #16324988;
    border-radius: 10px;
    width: 80%;
}
.ListaMenu{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
#ButtonClose{
    display: none;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li button{
    border-radius: 20px;
    background-color: #F27D72;
    border: none;
    height: 25px;
    font-family: 'Martel Sans', sans-serif; 
    font-weight: 700; 
    color: #FFFFFF;  
}
.menu ul li button:hover{
    cursor: pointer;
}
.menu ul li a{
    color: #FFFFFF;
}

.contenedorInicioSesion{
    background-color: #16324988;
    width: 40%;
    height: 25rem;
    border-radius: 10px;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}
.login-header{
    color: #FFFFFF;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button{
    background-color: #F27D72;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 60%;
    color: #FFFFFF;
}
.form button:hover{
    cursor: pointer;
}
.form div input{
    background-color: transparent;
    border-radius: 20px;
    border-color: #F27D72;
    height: 30px;
    width: 90%;
    margin: 5px;
    color: #FFFFFF;
}
.form div input::placeholder{
    color: #a2a0a0;
    font-family: "Font Awesome 5 Free";
    text-align: center;
    font-size: 11px;
}
.form div label{
    color: #e9bfbc;
}
.footer-login-card{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cerrarMenu{
    display: none;
}
.footer-login-card button{
    background-color: #F27D72;
    border: none;
    height: 20px;
    width: 30%;
    border-radius: 20px;
    color: #FFFFFF;
    margin: 5px;
}

.footer-login-card button:hover{
    cursor: pointer;
}

.abrirMenu{
    display: none;
}

@media screen and (max-width: 550px) {
    .menu{
        opacity: 0;
        visibility: hidden;
    }
    .menu.visible{
        opacity: 1;
        visibility: visible;
    }
    .cerrarMenu{
        display: block;
    }
    .headerMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerMenu button {
        background-color: #F27D72;
        margin-left: auto;
    }
    .abrirMenu{
        display: block;
    }
    .ListaMenu button{
        display: block;
    }
    #ButtonClose{
        display: flex;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        padding-top: 5rem;
        margin: 0 0;
        align-items: end;
        gap: 1rem;
    }
    .ListaMenu{
        display: flex;
        flex-direction: column;
        margin-top: 55%;
    }
    .ListaMenu li{
        padding-bottom: 1rem;
    }

    body{
        background-image: url('../img/SignInResponsive.png');
    }
    #Logo{
        display: none;
    }
    .contenedorInicioSesion{
        background-color: transparent;
        width: 80%;
        height: 25rem;
    }
    .form input{
        width: 80%;
        border-color: #112E40;
    }
    .form button{
        margin-top: 4rem;
        background-color:#112E40 ;
    }
    .footer-login-card{
        margin-top: 0%;
    }
    .footer-login-card button{
        background-color: #112E40;
        border: none;
        height: 30px;
        width: 30%;
        border-radius: 20px;
        color: #FFFFFF;
        margin: 5px;
    }
  
}

@media screen and (max-width: 430px) {
    .form div input{
        background-color: transparent;
        border-radius: 20px;
        border-color: #3610c1;
        height: 30px;
        width: 90%;
        margin: 5px;
        color: #FFFFFF;
    }
    .form div input::placeholder{
        color: rgb(72, 72, 197);
        font-family: "Font Awesome 5 Free";
        text-align: center;
        font-size: 11px;
    }
    .form div label{
        color: #e9bfbc;
    }
    .form button{
        margin-top: 4rem;
        background-color: #F27D72;
    }
    .footer-login-card button{
        background-color:#F27D72;
        border: none;
        height: 30px;
        width: 60%;
        border-radius: 20px;
        color: #FFFFFF;
        margin: 5px;
    }
}